
<div class="main-container">
<div class="dashboard-container" *ngIf="!isLoading; else loading">
  <!-- KPI Cards -->
  <div class="kpi-section">
    <mat-card class="kpi-card" *ngFor="let kpi of kpis; trackBy: trackByLabel">
      <div class="kpi-title">{{ kpi.label }}</div>
      <div class="kpi-value">{{ kpi.value }}</div>
    </mat-card>
  </div>

  <!-- Charts -->
  <div class="charts-section">

    <mat-card class="chart-card"  *ngIf="taskChartData.datasets[0].data.length">
      <div class="chart-title">Projects Status Overview</div>
      <div class="chart-wrapper">
      <canvas baseChart
        [data]="projectChartData"
        [options]="chartOptions"
        [type]="'doughnut'">
      </canvas>
      </div>
    </mat-card>

    <mat-card *ngIf="taskChartData.datasets[0].data.length" class="chart-card">
        <div class="chart-title">Tasks Status Overview</div>
      <div class="chart-wrapper">
      <canvas baseChart
        [data]="taskChartData"
        [options]="chartOptions"
        [type]="'doughnut'">
      </canvas>
      </div>
    </mat-card>
  </div>
</div>
<ng-template #loading >
  <div class="loader">
  <mat-spinner ></mat-spinner>
  </div>
</ng-template>
</div>

